<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>
    {{ page_title }}

    {% if current_tags %}
      &#8211; {{ current_tags | join: ', ' }}
    {% endif %}

    {% if current_page != 1 %}
      &#8211; {{ 'general.pagination.page' | t: page_number: current_page }}
    {% endif %}

    {% unless page_title contains shop.name %}
      &#8211; {{ shop.name }}
    {% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  {{ content_for_header }}

  {% include 'social-meta' %}

  <!-- Theme CSS -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {% if settings.custom-css != blank %}
    <style>
      {{ settings.custom-css }}
    </style>
  {% endif %}

  <!-- Third Party JS Libraries -->
  {{ 'modernizr-2.8.2.min.js' | asset_url | script_tag }}

  <!-- Theme object -->
  {% include 'theme-options' %}

  <script>
    window.products = {};
  </script>

</head>

<body class="{% if customer %}customer-logged-in{% endif %} template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}  {% if settings.blog-promo %}has-promo{% endif %} {% if settings.related-products and collection.products.size > 1 and template contains 'product' %}has-related-products-{{ settings.related-products-position }}{% endif %} {% if settings.product-hover == 'quick-shop' %}has-quick-shop{% endif %} loading" >

  {% include 'quick-shop' %}

  {% section 'header' %}

  <div class="main-content">
    {{ content_for_layout }}
  </div>

  {% section 'footer' %}
  {% include 'newsletter-popup' %}


  <!-- Scripts -->
  {{ 'jquery-1.11.1.min.js' | asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}

  {% if template contains 'cart' %}
    {{ "/services/javascripts/countries.js" | script_tag }}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ 'jquery.cart.min.js' | asset_url | script_tag }}
  {% endif %}

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  {% if settings.currency-switcher %}
    {{ "//cdn.shopify.com/s/javascripts/currencies.js" | script_tag }}
    {{ "jquery.currencies.js" | asset_url | script_tag }}
  {% endif %}

  {{ 'plugins.js'  | asset_url | script_tag }}
  {{ 'theme.js'  | asset_url | script_tag }}


  <script type="text/javascript">
    $(function(){
      /**
      * Newsletter Footer
      */
      $('#mc-embedded-subscribe-form[name="mc-footer"]').submit(function(event){
        event.preventDefault();
        var url = this.getAttribute('action')
        if (!url.includes('post-json')) {
          url = url.replace('post', 'post-json')
        }
        submitSubscribeForm(url, $('#mc-embedded-subscribe-form[name="mc-footer"]'), $('.mc-footer-input'), $('.mc-footer-btn'));
      })
      /**
      * Newsletter Modal
      */
      $('#mc-embedded-subscribe-form[name="mc-modal"]').submit(function(event){
        event.preventDefault();
        var url = this.getAttribute('action')
        if (!url.includes('post-json')) {
          url = url.replace('post', 'post-json')
        }
        submitSubscribeForm(url, $('#mc-embedded-subscribe-form[name="mc-modal"]'), $('.mc-inputGroup .mc-modal-input'), $('.mc-inputGroup'));
      })
      /**
      * Subscribe Form
      * @param {obj} Jquery :: Form Element. Access to action url, and form data.
      * @param {obj} Jquery :: Input Element. Access to reset input value or modify placeholder value.
      * @param {obj} Jquery :: Button Element. Access to hiding button.
      */
      function submitSubscribeForm(url, $form, $input, $button) {
        console.log("sub", $form, $input, $button );
        /**
        * Reset Input on Error
        * @param {obj} Jquery :: Input Element. Access to reset input value or modify placeholder value.
        * @param {str} String :: Error Message.
        */
        function resetInput(input, message) {
          input.attr('placeholder', message).focus().blur();
          input.val('')
          input.addClass('inline-errors')
        }
         $.ajax({
             type: "GET",
             url: url,
             data: $form.serialize(),
             cache: false,
             dataType: "jsonp",
             jsonp: "c", // trigger MailChimp to return a JSONP response
             contentType: "application/json; charset=utf-8",
             error: function(error){
                 // According to jquery docs, this is never called for cross-domain JSONP requests
             },
             success: function(data){
                 var input = $input;
                 var button = $button;
                 var resultMessage = data.msg || "Sorry. Unable to subscribe. Please try again later."
                 var email = input.val()
                 if (email === '') {
                   // NOTHING IN THE EMAIL INPUT
                   resultMessage = 'Please enter your email.'
                   resetInput(input, resultMessage)
                 } else if (data.result != "success") {
                   // ALREADY SUBSCRIBED
                   if (data.msg && data.msg.indexOf("already subscribed") >= 0) {
                     resultMessage = "You're already subscribed. Thank you."
                     resetInput(input, resultMessage)
                   }
                 } else {
                   // SUCCESS
                   resultMessage = "Thank you!<br>You must confirm the subscription in your inbox."
                   $form.find('.form-success').removeClass('hide')
                   input.addClass('hide')
                   button.addClass('hide')
                    /**
                    * GOOGLE ANALYTICS
                    * --- *
                    * Modal Newsletter Submit Success ( only on success for more accurate data. )
                    */
                    ga('send', {
                      hitType: 'event',
                      eventCategory: 'newsletter_modal',
                      eventAction: 'submit',
                      eventLabel: 'modal_success'
                    })
                 }
             }
         }).then(function(response){
           /**
           * MORE ERROR MESSAGES
           */
           var input = $input;
           var resultMessage = response.msg;
           var requests = response.msg.split(' ').reverse();
           if(response.result === 'error' && response.msg[0] === '0') {
             // bad email
              resultMessage = 'Please enter your email.'
              resetInput(input, resultMessage)
            } else if(response.result === 'error' && requests[0].toUpperCase() === 'REQUESTS') {
              // too many request (without confirming email)
              resultMessage = 'Too Many Signup Requests.'
              resetInput(input, resultMessage)
            } else if(response.result === 'error'){
              // Other errors
              resetInput(input, resultMessage)
            }
         });
      }
    })
  </script>

</body>
</html>
